<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table class="table_2">
        <caption>User crud operations</caption>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Birthday</th>
            <th>email</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}">Student ID</td>
            <td th:text="${user.birthday}">Birthday</td>
            <td th:text="${user.email}">eMail</td>
            <td th:text="${user.name}">Name</td>
            <td>
                <a class="button" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="button-delete" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <a class="button" th:href="@{'/user/new'}">Create new student</a>

    <form th:action="@{/logout}" method="get">
        <br/>
        <button class="button" name="login" type="Submit">Logout</button>
    </form>
</div>
</body>
</html>